.container{
    width: 400px;
    height: 200px;;
    margin: 10px;
    padding: 10px;
}
body {
    background-color: rgb(48, 17, 224);
  }
.card{

    background-color: blueviolet;

    width: 400px;;

    height: 200px;;

    border-width: 4px; ;

    box-shadow: 1px 2px 5px rgb(44, 238, 38);

}
.card2{   background-color: rgb(226, 250, 7);

    width: 300px;;

    height: 100px;;

    border-width: 8px; ;

    box-shadow: 1px 2px 5px rgb(212, 13, 13);


}